footer {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin: auto;
    padding-bottom: 10px;
}

.footer-division {
    background-image: linear-gradient(45deg, #022859, #0468BF);
    border-radius: 0px 0px 10px 10px;
    color: rgb(232, 232, 232);
    padding: 20px 0;
    margin: 0 0 20px;
    padding: 10px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.548);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: auto;
}

.footer-align {
    display: flex;
    padding-left: 20px;

}

.footer-section {
    width: 80%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    letter-spacing: -0.05em;
    text-decoration: none;
    color: #000;
}

.footer-title-sobre {
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.17em;
}

.footer-title-sobre:hover {
    text-decoration: underline;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}