/* Normalize CSS */
/* Adaptado de: https://necolas.github.io/normalize.css/ */
/*DEIXA O CSS PADRONIZADO*/

/* Elementos HTML */
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Elementos de Body */
body {
    margin: 0;
}

/* Agrupamento de Estilos para Conteúdo de Artigos */
article,
aside,
footer,
header,
nav,
section {
    display: block;
}

/* Agrupamento de Estilos para Listas Não Ordenadas */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Remoção de Estilos Padrão para Marcadores e Listas Numeradas */
blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/* Remoção de Margens Padrão para Blocos de Citação */
blockquote {
    margin: 0;
    padding: 0;
}

/* Remoção de Itálico para Citações em Blocos */
abbr[title] {
    border-bottom: none; /* Modificar propriedade de borda para evitar a adição de decoração em fontes itálicas */
}

/* Ajuste de Link Sublinhado Não Desejado em Firefox/IE */
a {
    text-decoration: none;
}

/* Reset de Estilos para Tabelas */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Modificação do Tamanho da Imagem para Evitar Sobrecarga de Largura em Mecanismos de Navegação de Página */
img {
    max-width: 100%;
    display: block;
    border-style: none;
}

/* Correção de Renderização no IE 10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* Estilos específicos para IE 10 */
    /* Por exemplo, estilos que podem precisar ser ajustados para renderização adequada no IE 10 */
}
