@charset "UTF-8";
@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Medium.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
   padding: 10px;
   width: 100vh;
   height: 100vh;
   margin: auto;
   background-color: rgb(239, 239, 239);
}

h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 0px 20px 0px;
}

nav{
    border-radius: 10px 10px 0px 0px;
}


header {
    background-image: linear-gradient(45deg, #022859, #0468BF);
    border-radius: 0px 0px 10px 10px;
    color: rgb(232, 232, 232);
    font-size: 16px;
    padding: 10px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.548);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

header > p{
    font-family: "Poppins", sans-serif;
    padding-top: 20px;
}


header > ul{
    display: flex;
    font-size: 14px;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    padding: 10px;
}

header > ul > li{
    padding: 3px;
}


section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    margin: auto;
    background-color: white;
    overflow: hidden;
    padding: 10px;
    border: 10px solid white;
}