@charset "UTF-8";

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Medium.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    padding: 10px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(239, 239, 239);
    font-family: 'Poppins';
}


h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 0px 20px 0px;
}

nav {
    border-radius: 10px 10px 0px 0px;
    width: 80vw;
    margin: auto;

}

nav>ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-left: 20px;

}

nav>ul>a {
    text-decoration: none;
    padding: 10px;
    transition: 0.2s linear;
}

nav>ul>a:hover {
    background-color: #c9c9c9a4;
    padding: 10px;
    border-radius: 5px;
}

nav>ul>a:visited {
    color: black;
}



header {
    background-image: linear-gradient(45deg, #022859, #0468BF);
    border-radius: 0px 0px 10px 10px;
    color: rgb(232, 232, 232);
    font-size: 16px;
    padding: 10px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.548);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: auto;

}

header>p {
    font-family: "Poppins", sans-serif;
    padding-top: 20px;
}


header>ul {
    display: flex;
    font-size: 14px;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    padding: 10px;
}

header>ul>li {
    margin: 10px;
    display: flex;
    align-items: center;
}

header>h1 {
    padding-top: 10px;
    padding-bottom: 0px;
}

main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: auto;

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1em;
    margin: auto;
    background-color: white;
    border: 10px solid white;
    text-align: justify;
}


q {
    font-size: small;
}

.info-box {
    column-count: 2;
    column-gap: 20px;
    width: 70vw;
    margin: 0;
}

.info-box>p {
    margin: 0;
}

.info-box>img {
    width: 100%;
    height: auto;
}

.content {
    text-align: left;
    margin: 10px;
}
