.text-designer {
    background-image: linear-gradient(45deg, #022859, #0468BF);
    border-radius: 0px 0px 10px 10px;
    color: rgb(232, 232, 232);
    padding: 20px 0;
    margin: 0 0 20px;
    padding: 10px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.548);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

form {
    width: 50%;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label,
input,
textarea,
select {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

input,
textarea,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
}

input[type="checkbox"] {
    width: auto;
    margin-bottom: 5px;
}

input[type="submit"] {
    background-image: linear-gradient(45deg, #022859, #0468BF);
    border-radius: 0px 0px 10px 10px;
    color: rgb(232, 232, 232);
    padding: 20px 0;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: gray;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.form-column {
    flex: 1;
    min-width: 200px;
}

.full-width {
    flex: 100%;
}